.about {
  margin-top: -300px;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  color: whitesmoke;
  overflow: visible;
  z-index: 1;
  h2 {
    margin-top: 0px;
    font-size: 40px;
  }
  p {
    text-align: center;
  }
}