.about {
  margin-top: -225px;
  width: 60%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  color: whitesmoke;
  overflow: visible;
  z-index: 1;
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 0 15%;
  }
  .aboutText {
    overflow: visible;
    overflow-y: auto;
    height: 100%;
    width: 50%;
    text-align: center;
    h2 {
      margin-top: 0px;
      font-size: 40px;
    }
    h2, p {
      padding-right: 10px;
    }
  }
}

.aboutText::-webkit-scrollbar {
  -webkit-appearance: none;
}

.aboutText::-webkit-scrollbar:vertical {
  width: 11px;
}

.aboutText::-webkit-scrollbar:horizontal {
  height: 11px;
}

.aboutText::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid whitesmoke;
  background-color: whitesmoke;
}

@media screen and (max-width: 1000px), screen and (max-height: 530px) {
  .about{
    width: 90%;
    img {
      display: none;
    }
    .aboutText {
      width: 100%;
      h2 {
        font-size: 28px;
      }
      p {
        font-size: 12.5px;
      }
    }
  }
}
@media screen and (max-height: 600px) {
  .about {
    height: 50%;
    .aboutText {
      width: 100%;
      h2 {
        font-size: 28px;
      }
      p {
        font-size: 11px;
      }
    }
  }
}