.about {
  margin-top: -225px;
  width: 60%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  color: whitesmoke;
  overflow: visible;
  z-index: 1;
  img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
  .aboutText {
    overflow: visible;
    height: 100%;
    width: 50%;
    text-align: center;
    h2 {
      margin-top: 0px;
      font-size: 40px;
    }
  }
}