.projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -200px;
  width: 90%;
  height: 70%;
  color: whitesmoke;
  z-index: 1;
  button {
    position: relative;
    color: whitesmoke;
    cursor: pointer;
    background: none;
    border: none;
    opacity: 0.5;
    transition: all .1s ease-in-out;
  }
  button:hover {
    opacity: 1;
    transform: scale(1.2);
  }
  button:active {
    transform: scale(0.8);
  }
}

.nameDiv {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  font-size: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  padding: 5px;
  border-radius: 10px;
}
hr {
  width: 80%;
  margin-top: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95%;
  width: 30%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  overflow: visible;
}
.imageContainer {
  width: 80%;
  z-index: -1;
  position: absolute;
  height: 40%;
  .projectImage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: fadeInAndOut 5s ease-in-out;
    border-radius: 20px;
    object-fit: fill;
  }
}

@keyframes fadeInAndOut{
  0% { opacity: 0 ;}
  30% {opacity: 1;}
  75% { opacity: 1;}
  100% { opacity: 0;}
}

.projectSkills {
  max-height: 25px;
  width: 100%;
  overflow: visible;
  display: flex;
  justify-content: space-evenly;
  i {
    font-size: 25px;
  }
}

.projectText {
  text-align: center;
  height: 160px;
}

.projectLinks {
  width: 100%;
  max-height: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: visible;
  transition: all .5s ease-in-out;
  a {
    padding: 5px;
    margin-bottom: 5px;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 15px;
    border: 2px solid whitesmoke;
  }
  a:hover {
    background-color: rgba(255,255,255,0.2);
    transform: scale(1.1);
  }
  a:active {
    transform: scale(0.8);
  }
}

@media only screen and (max-width: 1000px) {
  .card {
    width: 400px;
  }
}
@media only screen and (max-width: 500px) {
  .card{
    justify-content: space-evenly;
  }
  .imageContainer {
    position: absolute;
    top: 30px;
    width: 300px;
    height: 175px;
  }
  .nameDiv {
    overflow: visible;
    height: 10%;
    margin-top: 175px;
  }
  .projectText, .projectSkills, hr {
    display: none;
  }
  .projects {
    button {
      margin-top: 200px;
    }
    button:hover {
      opacity: 0.5;
      transform: none;
    }
    button:active {
      transform: none;
    }
  }
}