.skills {
  margin-top: -225px;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  overflow: visible;
  div {
    width: 9%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
    transition: all .3s ease-in-out;
    i {
      font-size: 50px;
    }
    small {
      margin-top: 10px;
      font-size: 15px;
    }
  }
  div:hover {
    transform: scale(1.2);
  }
}

@media screen and (max-width: 900px) {
  .skills {
    width: 95%;
    height: 50%;
    div {
      width: 20%;
      height: 25%;
      i {
        font-size: 25px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .skills {
    div {
      small {
        display: none;
      }
    }
  }
}