.skills {
  margin-top: -225px;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  height: 40%;
  background-color: rgba(13, 15, 38, 0.2);
  backdrop-filter: blur(3px);
  overflow: visible;
  padding-top: 40px;
  border-radius: 10px;
  div {
    width: 9%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
    transition: all .3s ease-in-out;
    i {
      font-size: 50px;
    }
    small {
      margin-top: 10px;
      font-size: 15px;
    }
  }
  div:hover {
    transform: scale(1.2);
  }
}

.oslo {
  background-image: url(https://res.cloudinary.com/dqdugu41a/image/upload/v1627387321/Portfolio/oslo_auto_x2_lxgxsx.jpg);
  background-size: cover;
  background-position: 0% 100%;
}

@media screen and (max-width: 900px) {
  .skills {
    width: 95%;
    height: 40%;
    div {
      width: 15%;
      height: 25%;
      i {
        font-size: 25px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .skills {
    div {
      small {
        display: none;
      }
    }
    div:hover {
      transform: none;
    }
  }
}