@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
  font-family: 'Oxygen', sans-serif;
}

html, body, div {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.overall {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: rgb(143, 138, 138);
  background-image: url(https://res.cloudinary.com/dqdugu41a/image/upload/v1627390766/Portfolio/norway_auto_x2_wyn8rz.jpg);
  // background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 50%;

}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

}



.title {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s ease-in-out;
  font-size: 30px;
  background-color: rgb(122, 120, 120);
  backdrop-filter: blur(4px);
  width: 100%;
  height: auto;
  color: whitesmoke;
  border-bottom: solid 5px whitesmoke;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.noOpen {
  font-size: 50px;
}

@media screen and (max-width: 400px) {
  .overall {
    height: 92vh;
  }
}



@import 
'background',
'about',
'skills',
'projects',
'contact'